---
import Layout from '../layouts/Layout.astro';
import MotorItem from '../components/MotorItem';
import ClienteItem from '../components/ClienteItem';
import { db, Motors, Clientes } from "astro:db";

const motoresDb = await db.select().from(Motors);
const clientesDb = await db.select().from(Clientes);
---

<Layout title="Motores">
	<main>
		<header>
			<h1 class="text-center text-5xl my-6">Base de datos ElectroTorrez</h1>
		</header>
		<section class="w-full h-auto mb-9 flex items-start justify-center gap-5">
			<button class="bg-green-600 rounded-xl transition-all hover:bg-green-800" type="button">
				<a class="px-6 py-3" href="/newmotor">Agregar nuevo motor</a>
			</button>
			<button class="bg-green-600 rounded-xl transition-all hover:bg-green-800" type="button">
				<a class="px-6 py-3" href="/newclient">agregar nuevo cliente</a>
			</button>
		</section>
		<section class="h-[500px] w-full grid grid-cols-2 grid-rows-1 gap-2">
			<div class="h-full w-full">
				<h1 class="text-center border-b border-white">Motores</h1>
				<ul class="h-full overflow-y-auto">
					{
						motoresDb.map(({ marca, hp, modelo }) => (
							<MotorItem marca={marca} modelo={modelo} hp={hp} />
						))
					}
				</ul>
			</div>
			<div class="h-full w-full overflow-y-auto">
				<h1 class="border-b border-white text-center">Clientes</h1>
				<ul>
					{
						clientesDb.map(({ nombre }) => (
							<ClienteItem nombre={nombre} />
						))
					}
				</ul>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		color: white;
		font-size: 20px;
	}
</style>
