---
import Layout from "../layouts/Layout.astro"
import { db, Motors } from "astro:db";

if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const marca = formData.get('marca');
    const hp = formData.get('hp');
    const rpm = formData.get('rpm');
    const volt = formData.get('volt');
    const amp = formData.get('amp');
    const modelo = formData.get('modelo');
    const pasoMarcha = formData.get('pasoMarcha');
    const vueltaMarcha = formData.get('vueltasMarcha');
    const calibreMarcha = formData.get('calibremarcha');
    const pasoArranque = formData.get('pasoArranque');
    const vueltaArranque = formData.get('vueltasArranque');
    const calibreArranque = formData.get('calibreArranque');
    const bobinadoMarcha = formData.get('bobinadoMarcha');
    const bobinadoArranque = formData.get('bobinadoArranque');
    const id = Date.now();

    if(typeof id === "number" && typeof marca === "string" && typeof hp === "string" && typeof rpm === "string" && typeof volt === "string" && typeof amp === "string" && typeof modelo === "string" && typeof pasoMarcha === "string" && typeof vueltaMarcha === "string" && typeof calibreMarcha === "string" && typeof pasoArranque === "string" && typeof vueltaArranque === "string" && typeof calibreArranque === "string" && typeof bobinadoMarcha === "string" && typeof bobinadoArranque === "string"){
        await db.insert(Motors).values({ id, marca, hp, rpm, volt, amp, modelo, pasoMarcha, vueltaMarcha, calibreMarcha, pasoArranque, vueltaArranque, calibreArranque, bobinadoMarcha, bobinadoArranque});
    }
}

---

<Layout title="Crear nuevo motor">
    <main class="h-auto w-full flex  flex-col justify-center items-center">
        <h1 class="text-white text-5xl text-center my-6">Agrega un nuevo motor</h1>
        <p class="text-white text-2xl text-center">luego podras asociarlo a algun cliente</p>
        <form method="POST" class="bg-transparent w-auto rounded-2xl text-white shadow-2xl">
            <h2 class="text-center text-3xl px-3 py-2">datos de la placa</h2>
            <div class="mx-8 mb-4 flex justify-center items-center text-2xl">
                <label for="marca" class="text-2xl">Marca:</label>
                <input name="marca" class="text-black ml-3 p-2 bg-slate-300 shadow-xl" type="text">
            </div>
            <div class="text-2xl mb-4 flex justify-center items-center">
                <label for="hp">HP:</label>
                <input name="hp" class="text-black w-28 px-2 ml-3 p-2 bg-slate-300 shadow-xl" type="text">
                <label>RPM:</label>
                <input name="rpm" class="text-black w-28 ml-3 p-2 bg-slate-300 shadow-xl" type="text">
            </div>
            <div class="text-2xl mb-4 flex justify-center items-center">
                <label>Volt:</label>
                <input name="volt" class="text-black w-28 ml-3 p-2 bg-slate-300 shadow-xl" type="text">
                <label>AMP:</label>
                <input name="amp" class="text-black w-28 ml-3 p-2 bg-slate-300 shadow-xl" type="text">
            </div>
            <div class="text-2xl w-full flex justify-center mb-4 items-center">
                <label>Modelo:</label>
                <input name="modelo" class="text-black ml-3 p-2 bg-slate-300 shadow-xl" type="text">
            </div>
            <h2 class="text-center text-3xl px3 py-2">Datos internos</h2>
            <div class="w-auto h-auto text-white flex flex-col items-center">
                <div class="bg-teal-700 w-full rounded-md">
                    <h3 class="text-center">B.M</h3>
                    <div class="flex justify-center items-center px-5">
                        <label for="pasoMarcha">P:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="pasoMarcha">
                    </div>
                    <div class="flex justify-center items-center px-5">
                        <label for="vueltasMarcha">V:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="vueltasMarcha">
                    </div>
                    <div class="flex justify-center items-center px-5 mb-5">
                        <label for="calibreMarcha">C:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="calibreMarcha">
                    </div>
                </div>
                <div class="bg-teal-700 w-full mt-5 rounded-md">
                    <h3 class="text-center">B.A</h3>
                    <div class="flex justify-center items-center px-5">
                        <label for="pasoArranque">P:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="pasoArranque">
                    </div>
                    <div class="flex justify-center px-5 items-center">
                        <label for="vueltasArranque">V:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="vueltasArranque">
                    </div>
                    <div class="flex justify-center items-center px-5 mb-5">
                        <label for="calibreArranque">C:</label>
                        <input class=" text-black w-full p-2 bg-slate-300 shadow-xl" type="text" name="calibreArranque">
                    </div>
                </div>
                <div class="w-full mt-5">
                    <h3 class="text-center text-2xl">Conexion interna</h3>
                    <div class="flex justify-center items-center mx-7">
                        <label for="bobinadoMarha">B.M:</label>
                        <input class="w-full text-black p-2 bg-slate-300 shadow-xl" type="text" name="bobinadoMarcha">
                    </div>
                    <div class="flex justify-center items-center mx-7">
                        <label for="bobinadoArranque">B.A:</label>
                        <input class="w-full text-black p-2 bg-slate-300 shadow-xl" type="text" name="bobinadoArranque">
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <button class="text-center py-3 px-6 my-7 bg-green-600 font-semibold rounded-lg transition-all hover:bg-green-800" type="submit">Aceptar</button>
            </div>
        </form>
    </main>
</Layout>

