---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Crear nuevo motor">
    <main class="h-auto w-full flex  flex-col justify-center items-center">
        <h1 class="text-white text-5xl text-center my-6">Agrega un nuevo motor</h1>
        <p class="text-white text-2xl text-center">luego podras asociarlo a algun cliente</p>
        <div class="bg-slate-600 w-auto rounded-2xl text-white">
            <h2 class="text-center text-3xl px-3 py-2">datos de la placa</h2>
            <div class="mx-8 mb-4 flex justify-center text-2xl">
                <label class="text-2xl">Marca:</label>
                <input class="text-black ml-3" type="text">
            </div>
            <div class="text-2xl mb-4 flex justify-center">
                <label>HP:</label>
                <input class="text-black w-28 px-2 ml-3" type="number">
                <label>RPM:</label>
                <input class="text-black w-28 ml-3" type="number">
            </div>
            <div class="text-2xl mb-4 flex justify-center">
                <label>Volt:</label>
                <input class="text-black w-28 ml-3" type="number">
                <label>AMP:</label>
                <input class="text-black w-28 ml-3" type="number">
            </div>
            <div class="text-2xl w-full flex justify-center mb-4">
                <label>Modelo:</label>
                <input class="text-black ml-3" type="text">
            </div>
            <h2 class="text-center text-3xl px3 py-2">Datos internos</h2>
            <div class="w-auto h-auto text-black flex">
                <div class="bg-red-500 w-20">
                    <h3 class="text-center">B.M</h3>
                    <div class="flex justify-center">
                        <label for="pasoMarcha">P:</label>
                        <input class="w-14" type="number" name="pasoMarcha" id="pasoMarcha">
                    </div>
                    <div class="flex justify-center">
                        <label for="vueltasMarcha">V:</label>
                        <input class="w-14" type="number" name="vueltasMarcha" id="vueltasMarcha">
                    </div>
                    <div class="flex justify-center">
                        <label for="calibreMarcha">C:</label>
                        <input class="w-14" type="number" name="calibreMarcha" id="calibreMarcha">
                    </div>
                </div>
                <div class="bg-red-500 w-20">
                    <h3 class="text-center">B.A</h3>
                    <div class="flex justify-center">
                        <label for="pasoArranque">P:</label>
                        <input class="w-14" type="number" name="pasoArranque" id="pasoArranque">
                    </div>
                    <div class="flex justify-center">
                        <label for="vueltasArranque">V:</label>
                        <input class="w-14" type="number" name="vueltasArranque" id="vueltasArranque">
                    </div>
                    <div class="flex justify-center">
                        <label for="calibreArranque">C:</label>
                        <input class="w-14" type="number" name="calibreArranque" id="calibreArranque">
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

